<p>producto-pedido works!</p>
<p>pedido works!</p>

<form [formGroup]="formProveedor" (ngSubmit)="guardar()">

  <label>Proveedor seleccionados:</label>
  <input type="text" formControlName="proveedor" readonly />

  <label>Proveedores:</label>
  <select formControlName="proveedores" multiple>
    <option *ngFor="let s of listaProveedores" [value]="s.id">
      {{ s.nombre }}
    </option>
  </select>

  <label>Producto seleccionados:</label>
  <input type="text" formControlName="tela" readonly />

  <label>producto:</label>
  <select formControlName="productos" multiple>
    <option *ngFor="let s of listaProductos" [value]="s.id">
      {{ s.producto_nombre }}
    </option>
  </select>

  <label>Color seleccionados:</label>
  <input type="text" formControlName="color" readonly />

  <label>Color:</label>
  <select formControlName="colores" multiple>
    <option *ngFor="let s of listaProductos" [value]="s.id">
      {{ s.producto_color }}
    </option>
  </select>


     <!-- Metros -->
          <label>metros</label>
          <input type="number" formControlName="cantidad" placeholder="Ej: 120">
          <small *ngIf="formProveedor.get('cantidad')?.touched && formProveedor.get('cantidad')?.hasError('required')" class="error">
            Los metros son obligatorios
          </small>
          <small *ngIf="formProveedor.get('cantidad')?.hasError('min')" class="error">
            Debe ser mayor a 0
          </small>

  <button type="submit">Guardar</button>
</form>
