<p>login works!</p>
<div class="form-container">
      <h2>Iniciar Sesión</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Correo electrónico" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
          Email es requerido
        </div>

        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="Contraseña" />
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
          Contraseña requerida
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
      </form>

      <p><a routerLink="/register">¿No tienes cuenta? Regístrate</a></p>
</div>
